@import 'lesshat.less';
@import 'variables.less';
@import 'fonts.less';

html,body{
	height:100%;
	position:relative;
}
body{
	margin:0;
	padding:0;
	font-family:'Lato-Regular';
}

#container{
	position:fixed;
	left:@streams-list-width;
	top:@top-menu-height;
	right:0;
	bottom:@bottom-menu-height;
	background:@container-color;
	.stream-frame{
		width:100%;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}

#streams-list{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width:@streams-list-width;
	background:@streams-list-background;
	.list-header{
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:@top-menu-height;
		>div{
			float:left;
			width:50%;
			.box-sizing (border-box);
			background:@button-background;
			line-height:@top-menu-height;
			text-align:center;
			color:@button-textcolor;
			cursor:pointer;
			&.active{
				background:darken(@button-background,10%);
				cursor:default;
			}
		}
	}
	.list-body{
		position:absolute;
		top:@top-menu-height;
		left:0;
		right:0;
		bottom:0;
		>div{
			display:none;
			&.active{
				display:block;
			}
			.loading-streams{
				color:@streams-list-color;
				text-align:center;
				display:block;
				font-size:11px;
				padding:10px;
			}
		}
	}

}

#menu-top{
	position:fixed;
	right:0;
	top:0;
	height:@top-menu-height;
	left:@streams-list-width;
	background:@top-menu-color;
	.title-container{
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		width:50%;
		.fentv-title{
			line-height:@top-menu-height;
			color:@title-color;
			font-size:24px;
			padding-left:5px;
			font-family:'Lato-Bold';
		}
		.active-users{
			padding-left:10px;
			color:@title-color;
			font-size:9px;
		}
	}
	.chat-header{
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		width:50%;
		.hide-chat{
			position:absolute;
			right:5px;
			width:95px;
			top:5px;
			bottom:5px;
			border:none;
			background:@button-background;
			color:@button-textcolor;
			cursor:pointer;
		}
	}
}

#menu-bottom{
	position:fixed;
	right:0;
	bottom:0;
	height:@bottom-menu-height;
	left:@streams-list-width;
	background:@bottom-menu-color;
	.input-container{
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		width:50%;
		height:50px;
		margin:0;
		padding:0;
		.msg_fenchat{
			position:absolute;
			left:0;
			right:100px;
			top:5px;
			bottom:5px;
			padding-left:5px;
			border:none;
			background:@input-background;
			color:@input-textcolor;
		}
		.submit_msg{
			position:absolute;
			right:5px;
			width:95px;
			top:5px;
			bottom:5px;
			border:none;
			background:@button-background;
			color:@button-textcolor;
			cursor:pointer;
		}
	}
}

#fenchat{
	position:fixed;
	right:0;
	top:@top-menu-height;
	bottom:@bottom-menu-height;
	.transition (right 0.8 ease-out);
	.box-sizing (border-box);
	width:50%;
	.chat-container{
		margin-left:@streams-list-width/2;
		height:100%;
		.box-sizing (border-box);
		position:relative;
		.channel-listing{
			position:absolute;
			right:0;
			top:0;
			bottom:0;
			width:200px;
			background:rgba(red(@channel-list-background),green(@channel-list-background),blue(@channel-list-background),0.5);
			.box-sizing (border-box);
			overflow:auto;
			padding:5px;
			color:@channel-list-color;
		}
		.channel-text{
			position:absolute;
			left:0;
			right:200px;
			top:0;
			bottom:0;
			background:rgba(red(@channel-text-background),green(@channel-text-background),blue(@channel-text-background),0.5);
			.box-sizing (border-box);
			overflow:auto;
			padding:5px;
			color:@channel-text-color;
			.messages{
				border-spacing:0;
				td{
					vertical-align: top;
					margin:0;
					padding:0;
					a{
						color:@channel-text-color;
					}
				}
				.time{
					div{
						background:rgba(red(darken(@channel-text-background,20%)),green(darken(@channel-text-background,20%)),blue(darken(@channel-text-background,20%)),0.5);
					}
					width:85px;
					text-align:center;
				}
				.nick{
					text-align:right;
					width:120px;
					border-right:1px solid @channel-text-color;
					padding-right:8px;
				}
				.message{
					padding-left:5px;
				}
			}
		}
	}
}