doctype html
html
	head
		title= title
		link(rel='stylesheet',type='text/css',href='css/style.css').
		script(src='http://code.jquery.com/jquery-1.10.1.min.js').
		script(src='js/moment.min.js').
		script(src="/socket.io/socket.io.js").
		script(src='js/config.js').
		script(src='js/regexp.js').
		script(src='js/main.js').
		script(src='js/fenchat.js').
	body
		#streams-list
			.list-header
				.main-streams(class='active',data-tab='main')= 'Main'
				.other-streams(data-tab='other')= 'User'
			.list-body
				.main-body(class='active',data-tab='main')
					span.loading-streams= 'Loading Streams...'
				.other-body(data-tab='other')
					span.loading-streams= 'Loading Streams...'
		#menu-top
			.title-container
				span.fentv-title= 'Fentv'
				span.active-users= '0 Online'
			.chat-header
				button.hide-chat= 'Hide Chat'
		#menu-bottom
			.input-container
				input.msg_fenchat(type='text',placeholder='Type nickname to join',autocomplete='off').
				button.submit_msg= 'Join Fenchat'
		#container
			iframe(class='stream-frame',frameborder='0',scrolling='no',src='http://cdn.livestream.com/embed/fenoxoscodecast?layout=4&amp;amp;height=340&amp;amp;width=560&amp;amp;autoplay=false').
		#fenchat
			.chat-container
				.channel-listing
				.channel-text
					table.messages
						tbody